/* #check:checked + .team-box {
  background-color: red;
} */

/* .team-box {
  background-color: red;
} */

/* #checkboxx:checked + .team-box{
  background-color: red;
} */

/* #checkboxx{
    background-color: gray;
} */